/* Header Styles */
.header {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);  /* Border for header separation */
  position: relative;  /* Default position */
  top: 0;
  backdrop-filter: blur(10px);  /* Apply blur effect */
  z-index: 999;
  transition: background-color 0.3s, box-shadow 0.3s;  /* Smooth transition for background and shadow */
  background-color: transparent;  /* Default background */
}

.header-with-scroll {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;  /* Adjust the height of the sticky header */
  // background: rgba(0, 0, 0, 0.8);  /* Dark background when sticky */
  z-index: 2000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);  /* Box shadow when sticky */
  animation: headerSlideDown 0.95s ease-in-out forwards;  /* Animation for smooth transition */
}

@keyframes headerSlideDown {
  0% {
    top: -85px;  /* Initially, the header is off-screen */
  }
  100% {
    top: 0;  /* Header slides down to its final position */
  }
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 70px;
  margin-bottom: -17px;
}

nav {
  a {
    margin: 0 15px;
  }
  margin-top: -15px;
}

.activeLink {
  position: relative;
  color: rgb(211, 40, 211);

  &::after {
    content: "";
    position: absolute;
    top: 30px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: rgb(211, 40, 211);
  }
}


/* Hide the hamburger button by default */
.menu-toggle {
  display: none;
}

@media screen and (max-width: 1026px) {
  header {
    nav {
      display: none; /* Hide default navigation */
    }

    nav {
      a {
        padding-top: 10px;
        padding-bottom: 10px;
      }
    }

    .openMenu {
      position: absolute;
      top: 85px;
      left: 0;
      width: 100%;
      padding: 20px;
      // padding-bottom: 20px;
      backdrop-filter: blur(10px); /* Apply blur effect */
      background: rgba(0, 0, 0, 0.7);
      display: flex;
      text-align: center;
      flex-direction: column;
      z-index: 999;

      /* Transition styles */
      transform: translateY(-100%); /* Initial state (hidden) */
      opacity: 0;
      pointer-events: none;
      transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    }

    .openMenu.active {
      transform: translateY(0); /* Active state (visible) */
      opacity: 1;
      pointer-events: auto;
      
    }

    .menu-toggle {
      display: inline-block; /* Show button on small screens */
      margin-top: 15px;
      margin-right: -45px;
    }
  }

  .activeLink {
    &::after {
      display: none;
    }
  }
}


@media screen and (min-width:  801px) {
  /* Hide the hamburger menu button on larger screens */
  .menu-toggle {
    display: none; // Hide button on large screens
  }
}

.headerlogo img {
  margin-top: -10px;
  width: auto; /* Maintain original aspect ratio */
  height: 90px; /* Set a fixed height or adjust as needed */
  // display: block;
}

