@import "color_palette";
@import "reset";
@import "variables";
@import "common";
@import "function";
@import "header";
@import "global";

/* global.scss */

/* Preloader styles */
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000; /* Black background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
  }
  
  #preloader.hidden {
    opacity: 0;
    pointer-events: none;
  }
  
  #preloader .logo-animation {
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: fadeInLogo 2s ease-in-out forwards;
  }
  
  #preloader .logo-animation img {
    width: 150px; /* Adjust logo size */
    height: auto;
    opacity: 0;
    animation: fadeIn 1.5s ease-in-out forwards;
  }
  
  #preloader .logo-animation span {
    color: #fff;
    font-size: 24px;
    margin-top: 10px;
    opacity: 0;
    animation: fadeIn 1.5s ease-in-out forwards;
    animation-delay: 1s; /* Delay text fade-in after the logo */
  }

  .gradient-text {
    background: linear-gradient(250deg, rgb(255, 85, 219) 24%, rgb(52, 108, 255) 100%);
    -webkit-background-clip: text; /* Clip the gradient to the text */
    -webkit-text-fill-color: transparent; /* Make text transparent to show the background gradient */
    font-size: 24px; /* Adjust font size as needed */
    font-weight: bold; /* Optional: Make the text bold */
  }
  
  @keyframes fadeInLogo {
    0% {
      transform: scale(0.5);
      opacity: 0;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  